<nav>
	{% for item in site.data.navigation %}
		<a href="{{ item.link | prepend: site.baseurl }}" {% if page.url == item.link %}class="active"{% endif %}>
			{{ item.name }}
		</a>
	{% endfor %}
</nav>